<app-ng-template-outlet></app-ng-template-outlet>
<app-ng-container></app-ng-container>
<app-diy-form-control></app-diy-form-control>
<app-export-as></app-export-as>
<app-template-any></app-template-any>
<app-ng-component-outlet></app-ng-component-outlet>
<app-structural-directive></app-structural-directive>
<app-interceptor></app-interceptor>
<app-error-handler></app-error-handler>
<app-initializer></app-initializer>
<app-injector></app-injector>
<app-change-detector></app-change-detector>
<app-change-detection-strategy [data]="data">
    <button (click)="add()">add</button>
</app-change-detection-strategy>